body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0f172a; /* bg-slate-900 */
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; /* ou sua fonte padrão */
  color: #e2e8f0; /* slate-200 (cor de texto padrão) */
}

#root {
  width: 100%; /* Opcional, mas geralmente bom */
  min-height: 100vh; /* Opcional, mas geralmente bom */
  /* Remova max-width, margin e padding daqui */
}